

      body {
        background-color: #196C3D;
        font-family: monospace;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
      
      header{
        display: flex;
        justify-content: space-between;
        background-color: #196C3D;
        top: 0;
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
        margin-right: 10px;
        padding: 10px 0px 10px 30px
      }

      header h2{
        font-family: Helvetica;
      }

      h1{
        padding-top: 10px;
        color: beige;
        margin-left: 10px;
      }

      a{
        color: beige;
        text-decoration: none;
      }
     
      .month-content{
        text-align: center;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
      }

      .month-content p{
        margin-bottom: 25px;
        text-align: left;
      }

      .month-content img{
        width: 100%; /* Default for smaller screens */
         max-width: 400px; /* Limit the size of the image for larger screens */
         height: auto; /* Maintain aspect ratio */
         border-radius: 8px;
      }

      .ossto{
        text-align: left;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
      }

      .aboutus{
        margin-right: 20px;
        background-color: #1C481A;
        color: beige;
        border-radius: 4px;
        padding: 10px 20px 10px 20px;
        border: none;
        width: 100px;
        height: 40px;
      }

      .ossto p{
        margin-bottom: 25px;
        text-align: left;
      }

      .ossto img{
        width: 100%; /* Default for smaller screens */
        max-width: 400px; /* Limit the size of the image for larger screens */
        height: auto; /* Maintain aspect ratio */
        border-radius: 8px;
      }

      .footer{
        background-color: #1C481A;
        color: beige;
        width: 100%;
        bottom: 0;
        left: 0;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
      }

      