

      body {
        background-color: #196C3D;
        font-family: monospace;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      header{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #196C3D;
        top: 0;
        width: 100%;
        margin-left: -10px;
        margin-top: -10px;
        padding: 10px 0px 10px 30px
      }

      header h2{
        font-family: Helvetica;
      }

      h1{
        padding-top: 10px;
        color: beige;
      }

      a{
        color: beige;
        text-decoration: none;
      }

      .aboutus{
        position: absolute;
        right: 40px;
        background-color: #1C481A;
        color: beige;
        border-radius: 4px;
        border: 0px;
        padding: 10px 20px 10px 20px;
      }
     
      .month-content{
        text-align: center;
        margin-top: 20px;
        padding: 0 20px; /* Adds 20px padding on the both sides */
      }

      
      
      /*reponsive design*/ 
      
      /* Default (desktop) */
      .monthleft-content img,
      .monthright-content img {
        width: 300px;
        height: 300px;
      }

      /* Tablet and smaller screens */
      @media (max-width: 768px) {
        .monthleft-content img,
        .monthright-content img {
          width: 100%;
          max-width: 400px;
          height: auto;
        }
      }

      /* Very small phones */
      @media (max-width: 480px) {
        .monthleft-content img,
        .monthright-content img {
          width: 100px;
          height: 100px;
        }
      }

      