

      body {
        background-color: #196C3D;
        font-family: monospace;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
      
      header{
        display: flex;
        justify-content: space-between;
        background-color: #196C3D;
        top: 0;
        width: 100%;
        margin-left: -10px;
        margin-top: -10px;
        margin-right: -10px;
        padding: 10px 0px 10px 30px
      }

      header h2{
        font-family: Helvetica;
        margin: 0;
      }

      h1{
        padding-top: 10px;
        color: beige;
      }

      a{
        color: beige;
        text-decoration: none;
      }

      .aboutus{
        right: 40px;
        top: 50%;
        background-color: #1C481A;
        color: beige;
        border-radius: 4px;
        border: 0px;
        padding: 10px 20px 10px 20px;
      }
     
      .month-content{
        text-align: center;
        margin-top: 20px;
        padding: 0 20px; /* Adds 20px padding on the both sides */
      }

      .month-content img{
        width: 100%; /* Default for smaller screens */
         max-width: 400px; /* Limit the size of the image for larger screens */
         height: auto; /* Maintain aspect ratio */
      }

      